# CARTO Python SDK workshop

## Get the credentials

In [1]:
import os

BASEURL = os.environ.get('CARTO_API_URL','https://jsanz.carto.com') # <-- replace with your username or set up the envvar
APIKEY = os.environ.get('CARTO_API_KEY',False) # <-- replace False with your CARTO API key or set up the envvar
ORG = os.environ.get('CARTO_ORG')

if BASEURL and APIKEY and ORG:
    print('All good!')

All good!

## Create an auth key

In [2]:
from carto.auth import APIKeyAuthClient
carto_key = APIKeyAuthClient(BASEURL, APIKEY, ORG)

## Running queries (SQL API)

In [3]:
from carto.sql import SQLClient
from carto.exceptions import CartoException
import pandas as pd
from IPython.core.display import display, HTML

# SQL client
sql = SQLClient(carto_key)

# Helper function to render a nice table from a query
def print_query(query):
    try:
        dic = sql.send(query)
        df = pd.DataFrame(dic['rows'])
        display(HTML(df.to_html()))
    except CartoException as e:
        print("some error ocurred", e)

Let's run a geocoding function

In [4]:
print_query('''
    SELECT name, 
           pop_max,
           ST_AsText(cdb_geocode_namedplace_point(name,'Spain')) as wkt
      FROM populated_places 
     WHERE adm0_a3 = 'ESP' 
  ORDER BY pop_max DESC LIMIT 5
''')

## Import a resource

In [5]:
from carto.file_import import FileImportJob
import time

Importing from a local file

In [6]:
fi = FileImportJob("barris_barcelona_1.csv.tar.gz",carto_key)
fi.run()
while fi.state != 'complete':
    print('Importing...')
    fi.refresh()
    time.sleep(5)

Importing...
Importing...
Importing...
Importing...
some error ocurred ['relation "brooklyn_poverty" does not exist']

In [7]:
print_query('SELECT * FROM barris_barcelona_1 LIMIT 5')

Importing from a URL

In [8]:
url = 'https://builder-demo.carto.com/api/v2/sql?q=select%20*%20from%20%22builder-demo%22.railroad_data&format=gpkg&filename=railroad_data'

fi = FileImportJob(url,carto_key)
fi.run()
while fi.state != 'complete':
    print('Importing...')
    fi.refresh()
    time.sleep(5)

print_query('SELECT accident_type, cause_subcategory FROM railroad_data LIMIT 5')

Importing...
Importing...
Importing...
Importing...

## Manage datasets

In [9]:
from carto.datasets import DatasetManager
import warnings
warnings.filterwarnings('ignore')

dm = DatasetManager(carto_key)

Get metadata of all datasets

In [10]:
datasets = dm.all()
len(datasets)

97

Find datasets by their name

In [11]:
for dataset in datasets:
    if dataset.name.startswith('railroad') or dataset.name.startswith('barris_barcelona_1'):
        print(dataset.name)

railroad_data
barris_barcelona_1

Remove datasets

In [13]:
for dataset in datasets:
    if dataset.name.startswith('railroad') or dataset.name.startswith('barris_barcelona_1'):
        print("Deleting {}...".format(dataset.name))
        dataset.delete()

Deleting railroad_data...
Deleting barris_barcelona_1...

Edit dataset metadata, save, restore

In [14]:
places_table = dm.get('populated_places')
print(places_table.description)
print(places_table.privacy)

LINK

In [15]:
import carto.permissions
places_table.description = 'Populated places dataset (desc set from the SDK)'
places_table.privacy = carto.permissions.PRIVATE
places_table.save()

In [16]:
places_table = dm.get('populated_places')
print(places_table.description)
print(places_table.privacy)

Populated places dataset (desc set from the SDK)
PRIVATE

In [17]:
places_table.description = ''
places_table.privacy = carto.permissions.LINK
places_table.save()

In [18]:
places_table = dm.get('populated_places')
print(places_table.description)
print(places_table.privacy)

LINK

## Batch SQL API

In [19]:
from carto.sql import BatchSQLClient
batch_client = BatchSQLClient(carto_key)

In [20]:
print_query('SELECT COUNT(*) from flights')

In [21]:
job = batch_client.create([
    '''CREATE TABLE flights_batch AS SELECT * FROM flights TABLESAMPLE SYSTEM(25)''',
    '''SELECT CDB_CartoDBfytable('jsanz','flights_batch')'''
])

job_id = job['job_id']

print("Job {} created at {}".format(job_id,job['created_at']))

# Let's check the status
while job['status'] == 'pending':
    print(job['status'])
    time.sleep(5)
    job = batch_client.read(job_id)

print(job['status'])

print_query('SELECT COUNT(*) FROM flights_batch')

Job 715e9200-844f-4f0b-bed5-c3324274cf63 created at 2017-10-17T11:28:09.670Z
pending
failed

In [53]:
try:
    dm.get('flights_batch').delete()
except Exception as e:
    print('Something happened!')

## Manage maps

In [42]:
from carto.visualizations import VisualizationManager
vm = VisualizationManager(carto_key)

Get all the account maps metadata

In [43]:
vizs = vm.all()

Show the names of the first 10

In [44]:
for viz in vizs[0:10]:
    print(viz.name)

Geoinquietos
Test boundaries aggregation
torque frown
Mapping Sax
Test named map
NYC Tree Map
groups
Cow Map
Foursquare Checkins
CARTO team map

Show the description from one of them

In [45]:
flickr = vm.get('Flickr Great Shots 2016')
flickr.description

'This map is updated every day with last Flickr [most interesting photos](https://www.flickr.com/explore).'

Get the map download link

In [46]:
flickr.export()

'http://s3.amazonaws.com/com.cartodb.imports.production/e7be05bc424f730853dd/Flickr%20Great%20Shots%202016%20%28on%202017-09-14%20at%2014.30.34%29.carto?AWSAccessKeyId=AKIAJUI5EFFJIRZMEEMA&Expires=1505406635&Signature=vHTPqMdoFKYt2GUGX4JrVNCy78Y%3D&response-content-disposition=attachment%3Bfilename%3D%22Flickr%2520Great%2520Shots%25202016%2520%28on%25202017-09-14%2520at%252014.30.34%29.carto%22%3Bfilename%2A%3Dutf-8%27%27Flickr%2520Great%2520Shots%25202016%2520%28on%25202017-09-14%2520at%252014.30.34%29.carto'

## Named maps

In [48]:
from carto.maps import NamedMapManager
nm = NamedMapManager(carto_key)

In [49]:
named_maps = nm.all()

Print the custom templates in the account (those that don't start with `tpl`)

In [50]:
for named_map in named_maps:
    template_id = named_map.template_id
    if not template_id.startswith('tpl'):
        print(named_map.template_id)

named_map_test_in
cartoframes_ver20170406_layers1_time0_baseid1_labels0_zoom1
cartoframes_ver20170406_layers2_time0_baseid1_labels0_zoom0
test_named_map
populated_places_1491426149_69
test_literal
cartoframes_ver20170406_layers2_time0_baseid1_labels0_zoom1
populated_places_1491425943_37
cartoframes_ver20170406_layers1_time0_baseid1_labels0_zoom0
populated_places_1491425172_65

Print some details from one of the templates

In [51]:
test_named = nm.get('test_named_map')
for layer in test_named.layergroup['layers']:
    print()
    if layer['type'] == 'http':
        print('HTTP Layer')
        print(layer['options']['urlTemplate'])
    elif layer['type'] == 'cartodb':
        print('CARTO Layer')
        print(layer['options']['sql'])

HTTP Layer
https://cartodb-basemaps-{s}.global.ssl.fastly.net/light_all/{z}/{x}/{y}.png

CARTO Layer
SELECT * FROM (SELECT * \
FROM nycpluto_all \
WHERE ST_Intersects(\
  ST_Buffer(\
    ST_SetSRID(\
      ST_GeomFromText('POINT(-73.988371 40.736)'),\
      4326\
    )::geography,\
    1000)::geometry,\
  the_geom) ) AS wrapped_query WHERE <%= layer0 %>=1